.grid {
  display: flex;
  flex-wrap: wrap;
  width: 630px;
  height: 630px;
}

.square {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
.yellowSquare {
  background-color: yellow;
}
.blueSquare {
  background-color: blue;
}

.putin {
  background-image: url("media/putin.png");
  background-color: red;
}
